body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

label {
    display: block;
    font-weight: bold;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ff8c88;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b92f2a;
}
